.software {
	background-image:url(software.png);
}

@media screen and (min-width:1200px){
	.software{
		background-position:0px 0px;
		width:440px;
		height:580px;
	}
}

@media screen and (min-width:1000px) and (max-width:1200px){
	.software{
		background-position:-430px 0px;
		width:440px;
		height:580px;
	}
}

@media screen and (min-width:800px) and (max-width:1000px){
	.software{
		background-position:-860px 0px;
		width:350px;
		height:580px;
	}
}

@media screen and (min-width:600px) and (max-width:800px){
	.software{
		background-position:0px -580px;
		width:720px;
		height:630px;
	}
}

@media screen and (max-width:600px){
	.software{
		background-position: -720px -580px;
		width:490px;
		height:630px;
	}
}
